* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans';
}

body {
    overflow-x: hidden;
    margin: 0;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p  {
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin-inline: auto;
}

.header {
    width: 100%;
    background-color: #d7d5d5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.user-actions {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.user-actions svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.user-actions div {
    position: relative;
}

.user-actions div span {
    content: '';
    position: absolute;
    top: -5px;
    right: -15px;
    background-color: rgb(175, 223, 104);
    border-radius: 50%;
    width: 23px;
    height: 23px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.app {
    padding: 50px 0;
}

.app__title {
    padding: 0 0 50px 0;
    font-size: 2.5rem;
}

.app__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.app__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.app__card-title {
    display: block;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    margin-bottom: 5px;
    transition: all 0.1s ease-in;
}

.app__card-title:hover {
    color: rgb(226, 78, 78);
}

.app__card-image-wrapper {
    align-self: center;
}

.app__card-image {
    height: 150px;
}

.addToCart-btn {
    width: 100%;
    min-height: 45px;
    border: none;
    outline: none;
    background-color: rgb(226, 78, 78);
    color: white;
    border-radius: 8px;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.addToCart-btn:hover {
    background-color: rgb(179, 50, 50);
}

.addToCart-btn.active {
    background-color: rgb(180, 39, 39);
}


@media (max-width: 968px) {
    .app__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .app__list {
        grid-template-columns: 1fr;
    }
}

/* BASKET */

.basket {
    width: 100%;
    min-height: 100%;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    transition: .2s ease-in-out;
}

.basket.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.249);
}

.basket__content {
    width: 450px;
    min-height: 100%;
    visibility: hidden;
    transform: translateX(100%);
    background-color: whitesmoke;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: .2s ease-in-out;
}

.basket__content.active {
    visibility: visible;
    transform: none;
}

.basket__title {
    padding: 20px 20px 10px 20px;
    font-size: 2rem;
}

.basket__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.basket__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(226, 226, 226);
    position: relative;
}

.basket__item-right {
    display: flex;
    gap: 15px;
}

.basket__item-image-wrapper {
    max-width: 90px;
    height: 100%;
}

.basket__item-image {
    object-fit: contain;
}

.basket__item-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
}

.basket__item-title {
    color: black;
    font-weight: 600;
    transition: all 0.1s ease-in;
}

.basket__item-title:hover {
    color: rgb(226, 78, 78);
}

.basket__item-actions {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.counter__btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 120, 120);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.counter__btn:hover {
    background-color: rgb(199, 93, 93);
}

.counter__body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    user-select: none;
}

.basket__item-closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.basket__item-closeBtn:hover {
    opacity: 1;
}

.div {
    margin-top: auto;
}

.basket__total {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

.basket__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid rgb(186, 138, 138);
}

.basket__button {
    min-height: 50px;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgb(232, 96, 96);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.basket__button:hover {
    background-color: rgb(223, 76, 76);
}

.basket-isEmpty {
    align-self: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.basket-isEmpty__text {
    font-size: 2rem;
    font-weight: 700;
}


